header.profile {
  height: 400px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffc55c;
  background-image: url("https://www.transparenttextures.com/patterns/wild-flowers.png");
  color: white;
}

header.profile h2 {
  margin: 0;
}
