html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  padding: 5% 3%;
  height: 100%;
}

#scroll-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(229, 112, 112);
  border: none;
  cursor: pointer;
  padding: 15px;
  display: none;
}

#scroll-btn:hover {
  background-color: rgb(221, 62, 62);
}
